<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>How Are you doing ?</h2>
    <h4>I am <%= name %></h4>
    <ul>
      <% for(var i=0;i<5;i++){ %>
        <li>Aditya</li>
        <% } %>
    </ul>
  </body>
</html>
