<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h2>How Are you doing ?</h2>
    <h4>I am <%= name %></h4>
    <ul>
   
        <li>to get rooms view "/rooms"</li>
        <li>to get users view "/users"</li>
        <li>to get bookings view "/bookings"</li>
    </ul>
    <p>similarly for post request add "/add"</p>
    <p>For delete request add"/delete"</p>
  
  </body>
</html>
